.env
/node_modules/
/favs/
/Photos/*
!/Photos/.gitkeep
tester.js
tester2.js
home.html
.vscode/

eng.traineddata


config/*
!/config/.gitkeep

venv/

.DS_Store

WeatherWindow.log

setQuery-production.scpt
setQuery-sandbox.scpt
